
.signup{
    position: relative;

    background-image: url("https://hubble.miraclesoft.com/assets/img/bg-login.jpg");
    background-size: cover;
    /* width: 200vh; */
    height: 100vh;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
   
}